body {
	border: 0;
	margin: 0;
   	font-size: 1em;
   	color: #000;
   	font-family: Arial;
}
a {
    color: maroon;
}
span {
	display: inline-block;
	width: 15%;
}
.header_img {
	text-align: right;
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(maroon,black);
}
.header_img img {
	width: 33%;
}
nav {
	padding-left: 48px;
	background: black;
	min-height: 24px;
	color: white;
}
.submenu {
	width: 100%;
	height: 2em;
    background: maroon;
}
.submenu li {
	padding-right: 2em;
	padding-top: .5em;
	list-style-type: none;
	display: inline-block;
}
.submenu li a {
	text-decoration: none;
	color: white;
}

footer {
	min-height: 48px;
	background: linear-gradient(black,maroon);
}
footer img {
	width: 20%;
}
.dynamic_content {
	padding: 26px;
}
.input_form {
	width: 60%;
	margin: 0 auto;
}
.input_field {
    background: lightyellow;
	display: block;
}
.input_field:focus {
    background: linen;
}
table {
    width: 60%;
}
.table_div {
	width: 60%;
	margin: 0 auto;
}
.row_header { 
    background: maroon;
    color: white;
}
.row_brown {
    background: linen;
} 
.row_notsobrown {
    background: lightyellow;
}

.debug {
    background: goldenrod; 
    padding-top: 20px;
}

#error_div {
	display: block;
	position: absolute;
	top: 0;
	display: none;
	background: red;
	color: yellow;
}

#grey_background {
	display: none;
	position: absolute;
	opacity: .5;
	background: black;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#popup_dialogue {
	display: none;
	padding-top: 20px;
	position: absolute;
	background: white;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
}

#user {
	display: none;
}

#classe {
	display: none;
}
